.container {
    padding: 0 1rem;
    margin:  1rem auto ;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction{
    display: flow;
}

.navButtonGroup{
display: flex;
}

.nameAndPosition{
    display: flow;
}

/* Mobile Screen size */
@media only screen and (min-width: 760px) {
   
    .introduction{
        display: flex;
    width: 90%;

    }

   

}
