
.outTop {
    fill: #caacb9;
}

.inTop {
    fill: #86556a;
}
.outRight {
    fill: #1fbcc5;
}

.inRight {
    fill: #158085;
}

.outBottom {
    fill: #79AA95
    /* fill: #caacb9; */
}

.inBottom {
    fill: #355346;
    /* fill: #383e51; */
}

.outLeft {
    fill:#EA7F7A;
    /* fill: #8FA1F7; */
}

.inLeft {
    fill:#E0433A;
    /* fill: #0045ea; */
}
 
.commonText {
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.60rem;
        white-space: pre;   
        fill:#DEE2E2;
       
    }

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    margin: 2rem auto;
}

.containerBox {
    /* Add styles to make the box visible */
    opacity: 0.5; /* Adjust opacity as needed */
  }
  
  .svgSection{
    margin: 2rem;
   width: 50%;
  }


#svgContainer {
    height: auto;
    position: relative; /* Required for absolute positioning of content */
 
    
}

#rect{
    position: relative; /* Required for absolute positioning of content */

}

.rectangularContainer {
    border: #E0433A 4px dotted;

}
  
  .additionalContent {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.60rem;
    position: absolute;
    clear: both;

  }



  /* laptop Screen size */
@media only screen and (min-width: 767px) {
    .container{
        width: 50vw;
    }
}
