.center{
    margin: auto;
    text-align: center;
    font: bolder;
}

.headingLg {
    font-size: 1.5rem;
    line-height: 1.4;
    margin: 1.2rem 0 0;
    color: blue;
}


.subHeading {
    margin: 0 1em;
    font-family: 'Josefin Sans', sans-serif;
    font-weight:700;
}

.borderCircle {
    border-radius: 9999px;
}


/* Mobile Screen size */
@media only screen and (max-width: 767px) {
    .headingLg {
        font-size: 1.5rem;
        line-height: 1.4;
        margin: 0;
        color: blue;
    }
}
